form.mb-0
    h2.mb-4="Détail de l'itinéraire"

    div.row.align-items-center.justify-content-between
        div.col-auto="Distance"
        div.col-auto
            span.form-text #{path.length} mètres

    div.row.align-items-center.justify-content-between.mb-3
        div.col-auto="Nombre d'arrêts"
        div.col-auto
            span.form-text=restaurants.length

    each restaurant in restaurants
        div.card.mb-3
            div.card-body
                h6.card-title
                    =restaurant.properties.name
                    span.ms-2.badge.bg-primary=restaurant.properties.type
                p.card-text
                    =restaurant.properties.address + " " + restaurant.properties.city + " " + restaurant.properties.state

    div.mt-4
        button(type="submit")#back-button.mb-0.btn.btn-secondary="Retour"

